#content {
    max-width: 1600px;
 }

header {
    background-color:lightblue;
    display: grid;
    grid-template-columns: 150px auto;
    
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
   
}
nav a {
    text-decoration: none;
    color: green;
    text-align: center;
    padding: 35px;
}
footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.hours_logo_grid {

    display: grid; /* Use grid layout */
    grid-template-columns: auto auto; /* Two columns */
    grid-gap: 20px; /* Adjust spacing between the columns */
}




/****************************Sliding images*****************************/
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
}

.slide {
    display: none;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
/*************************************************************/