#content {
    max-width: 1600px;
    margin: 0 auto;
    
    
 }

header {
    background-color:lightblue;
    display: grid;
    grid-template-columns: 150px auto;
    
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    align-items: center;
   
}
nav a {
    text-decoration: none;
    color: green;
    text-align: center;
    padding: 35px;
    font-size: 1.2em;
    
}
footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    /* background-color:lightblue;
    display: grid;
    grid-template-columns: 150px auto; */
    
}
.social {
    display: flex;
}

.main{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.logo{
    grid-column: 2 / 5;
}

/* .hours{
    
} */

.kolob{
   position: fixed;
}

/* test  */

.image-container {
    position: relative;
    display: inline-block; /* or display: block; depending on your layout */
  }
  
  .image-text {
    position: absolute;
    top: 50%; /* Adjust as needed to vertically center */
    left: 50%; /* Adjust as needed to horizontally center */
    transform: translate(-50%, -50%); /* Center the text both horizontally and vertically */
    background-color: rgba(255, 255, 255, 0.7); /* Optional: add a semi-transparent background */
    padding: 10px; /* Optional: add padding to the text */
  }
  


/* test  */

/****************************Sliding images*****************************/
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    
    margin: auto;
    margin-bottom: 500px;

}

.slide {
    display: none;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
/*************************************************************/