#content {
    max-width: 1600px;
    margin: 0 auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

header {
    background-color: hwb(202 43% 3%);;
    display: grid;
    grid-template-columns: 150px auto;
    
}
nav {
    display: flex;
    justify-content: space-around;
    background-color:hwb(202 43% 3%);
    align-items: center;
   
}
nav a {
    text-decoration: none;
    color: green;
    text-align: center;
    padding: 35px;
    font-size: 1.2em;
    
}
footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
    bottom: 100%;
    
    /* background-color:lightblue;
    display: grid;
    grid-template-columns: 150px auto; */
    
}
.social {
    display: flex;
    flex-shrink: 0; /* Ensure footer does not shrink */
}

.main{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: lightseagreen;
    margin-bottom: 500px;
}

.logo{
    grid-column: 1 / 4;
}

.hours{
    grid-column: 5/8;
    
    font-size: 2em;
    
}


  .join-us-text-overlay, .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    padding: 20px;
    text-align: center;
  }
  
  .text-overlay h2,
  .text-overlay p {
    margin: 0;
    font-size: 2em;
  }

  .join-us-text-overlay{
    margin: 0;
    font-size: 2em;
}
  
.join-us{
    position: relative;
    display: block; /* or display: block; depending on your layout */
}
.paramount{
   position: fixed;
   z-index: -1;
   max-width: 1600px;
   margin: 0 auto;
}
#events{
    text-align: center;
    font-size: 5em;
}

.events_listed{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(15 1fr);
}


.individual_event1{
    grid-row: 1/4;
    grid-column:1/8 ;
    background-color: brown;
    margin-top: 500px;
    margin-bottom: 500px;
    text-align: center;
}
.event1-text{
   background-color: orange;
    font-size: 2em;
}


.individual_event2{
    grid-row: 8/12;
    grid-column:1/8;
    background-color: brown;
    text-align: center;
}


.event2-text{
    background-color: orange;
    font-size: 2em;

    

}
/* test  */

  .upcoming-container {
    position: relative;
    display: block; /* or display: block; depending on your layout */
    padding: 50px;
    margin-top: 100px;
    
    background-color: greenyellow;
  }
  
  .image-text {
    position: absolute;
    top: 50%; /* Adjust as needed to vertically center */
    left: 50%; /* Adjust as needed to horizontally center */
    transform: translate(-50%, -50%); /* Center the text both horizontally and vertically */
    background-color: rgba(255, 255, 255, 0.7); /* Optional: add a semi-transparent background */
    padding: 10px; /* Optional: add padding to the text */
    
    
}
  


/* test  */

/****************************Sliding images*****************************/
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    
    margin: auto;
    /* margin-bottom: 500px; */

}

.slide {
    display: none;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
/*************************************************************/